*{
    margin: 0;
}

.details{
    /* padding-bottom: 150px; */
    display: flex;
    justify-content: space-between;
}

.section-a{
    margin-right: 10px;
}



@media(min-width:1000px){
    .section-a{
        margin-right: 30px;
    }
    
    .section-b{
           margin-left: 70px;
    }
}